@page "/references"

<h1>References</h1>
<ol>
  <li>Microsoft Docs. Blazor hosting models.</li>
  <li>Microsoft Learn. Razor components in Blazor.</li>
  <li>.NET Blog. Blazor in .NET 8: Unifying Server and WebAssembly.</li>
  <li>Microsoft Customer Stories. Blazor for enterprise internal dashboards.</li>
</ol>

<h2>Cheat Sheet</h2>
<ul>
  <li>Run: <code>dotnet run</code></li>
  <li>Publish: <code>dotnet publish -c Release -o publish</code></li>
  <li>Route a page: <code>@@page "/path"</code> at top of <code>.razor</code></li>
  <li>Two-way bind: <code>@@bind="value"</code></li>
  <li>Event handler: <code>@@onclick="Handler"</code></li>
</ul>
