@page "/references"
<PageTitle>References & Cheat Sheet</PageTitle>

<div class="container-narrow">
    <h1>References (CTR Harvard)</h1>
    <div class="card">
        <ol class="mb-0">
            <li>Microsoft (2024) <em>Blazor hosting models</em>. Available at: https://learn.microsoft.com/… (Accessed:
                20
                October 2025).</li>
            <li>Microsoft (2024) <em>Razor components in Blazor</em>. Available at: https://learn.microsoft.com/…
                (Accessed:
                20 October 2025).</li>
            <li>Roth, D. (2023) ‘Blazor in .NET 8: Unifying Server and WebAssembly’, <em>.NET Blog</em>. Available at:
                https://devblogs.microsoft.com/… (Accessed: 20 October 2025).</li>
        </ol>
    </div>
    <br />
    <h2>Cheat Sheet</h2>
    <div class="card">
        <ul class="mb-0">
            <li>Run: <code>dotnet run</code></li>
            <li>Publish: <code>dotnet publish -c Release -o publish</code></li>
            <li>Route a page: <code>@@page "/path"</code> at the top of <code>.razor</code></li>
            <li>Two-way bind: <code>@@bind-Value="value"</code></li>
            <li>Event handler: <code>@@onclick="Handler"</code></li>
        </ul>
    </div>
</div>